<div id="<%= dom_id(comment) %>" class="border-b py-2">
  <p class="text-sm text-gray-700"><%= comment.content %></p>
  <p class="text-xs text-gray-400">by <%= comment.user&.name || comment.user&.email %></p>

  <% if comment.user == current_user %>
    <%= button_to "Delete", task_comment_path(comment.task, comment),
                  method: :delete,
                  form: { data: { turbo_stream: true } },
                  class: "text-red-500 text-xs" %>
  <% end %>
</div>
